body {
    color: #FFFFFF;
    background: linear-gradient(
        25deg,
        #2b1e49,
        #342d70,
        #404b91
    ) no-repeat;
    min-height: 100vh;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    position: fixed;
    width: calc(100vw - 31px);
    margin: 0;
    background-color: #1f1f1f;
    font-size: 10px;
    font-family: Verdana, ui-rounded;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.7;
}

.headText {
    text-align: center;
    margin: 0;
}

.find {
    position: fixed;
    width: 200px;
    height: 350px;
    margin-left: 0;
    margin-top: 50px;
    background-color: #1f1f1f;
    font-size: 10px;
    font-family: Verdana, ui-rounded;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.7;
}

.findButton {
    position: fixed;
    width: 44px;
    height: auto;
    margin-top: 5px;
    margin-left: 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.findImage {
    width: 100%;
    height: 100%;
}

.findContent {
    background-color: #111111;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    text-align: center;
    text-decoration: none;
}

.home {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100vw - 60px);
    height: auto;
    min-height: 100vh;
    margin: 0;
}

.nav {
    position: fixed;
    height: 24px;
    margin-top: 0;
    margin-left: 44px;
    display: flex;
    gap: 2px;
}

.nav a {
    color: white;
    font-size: 17px;
    background-color: #1f1f1f;
    font-family: Verdana, ui-rounded;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    width: auto;
    height: 100%;
    text-decoration: none;
    opacity: 0.7;
}

.nav a:hover {
    opacity: 1;
    background-color: #2a2a2a;
}

.active {
    background-color: #1c1c1c;
}

.white {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.center {
    text-align: center;
}

.big {
    font-size: 60px;
    margin-bottom: 0;
}

.head2 {
    margin-top: 10px;
}

.line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.line img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.table {
    text-align: center;
    width: 70%;
    margin: auto;
}

.table a {
    color: #b8b8b8;
    text-decoration: none;
}