body {
    color: #FFFFFF;
    background: linear-gradient(
        25deg,
        #2b1e49,
        #342d70,
        #404b91
    ) no-repeat;
    min-height: 100vh;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    position: fixed;
    width: calc(100vw - 31px);
    margin: 0;
    background-color: #1f1f1f;
    font-size: 10px;
    font-family: Verdana, ui-rounded;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px
}

.headText {
    text-align: center;
    margin: 0;
}

.find {
    position: fixed;
    width: 200px;
    height: 350px;
    margin-left: 0;
    margin-top: 50px;
    background-color: #1f1f1f;
    font-size: 10px;
    font-family: Verdana, ui-rounded;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px
}
.findButton {
    position: fixed;
    width: 44px;
    height: auto;
    margin-top: 5px;
    margin-left: 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.findImage {
    width: 100%;
    height: 100%;
}

.home {
    padding-top: 40px;
}